@font-face {
  font-family: 'technor';
  src: url('./Fonts/Technor-Variable.ttf');
}

body {
  font-family: 'technor', sans-serif !important;
}

button {
  font-family: 'technor', sans-serif !important;
}

.top {
  top: 8px;
}

.left {
  left: 8px;
}

.bottom {
  bottom: 16px;
}

.center {
  top: 0;
  bottom: 0;
}

.center-2 {
  left: 0;
  right: 0;
}

.right {
  right: 5px;
}

.button-style {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.18s ease;
  transform: translateZ(0);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.button-style:hover {
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.18);
}

.button-style:active {
  transform: scale(0.94);
  background-color: rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
}

.button-style-2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.18s ease;
  transform: translateZ(0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.button-style-2:hover {
  background-color: rgba(0, 0, 0, 1); /* مشکی کامل */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.18); /* سایه مشکی */
}

.button-style-2:active {
  transform: scale(0.94);
  background-color: rgba(0, 0, 0, 0.85); /* مشکی کمی روشن‌تر */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
